*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/paid/release/output.json
app/free/release/output.json
app/free/release/app-free-release.apk
app/paid/release/app-paid-release.apk
